/* .bio-container {
    width: 33.3%;
    background: #b13a1a;
    height: 100vh;
    display: inline-block;
} */
.bio-container {
    margin: 5rem 25% 0 25%;
    /* height: 100vh */
}

.bio-button-holder {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.bio-button-container {
    width: 17rem;
    justify-content: space-evenly;
    display: flex;
    margin-left: 2.3rem;
}

.bio-container h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
    /* font-style: italic; */
    /* color: #89aee1; */
}

@media only screen and (max-width: 1200px) {
    .bio-container {
        margin: 5rem 15% 0 15%;
    }
}

@media only screen and (max-width: 542px) {
    .bio-container {
        margin: 3rem 7% 0 7%;
    }
}