/* .portfolio-container {
    width: 33.3%;
    background: #287e9e;
    height: 100vh;
    display: inline-block;
} */
.portfolio-header {
  margin: 5rem 20% 0 20%;
}

.portfolio-container {
  margin: 6rem 15% 0 15%;
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
}
