/* .portfolio-container {
    width: 33.3%;
    background: #287e9e;
    height: 100vh;
    display: inline-block;
} */
.portfolio-header {
  margin: 5rem 25% 0 25%;
}

.portfolio-container {
  margin: 6rem 15% 0 15%;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

@media only screen and (max-width: 1200px) {
  .portfolio-container {
    margin: 5rem 15% 0 15%;
  }
  .portfolio-header {
    margin: 5rem 15% 0 15%;
  }
}

@media only screen and (max-width: 542px) {
  .portfolio-container {
    margin: 4rem 7% 0 7%;
  }
  .portfolio-header {
    margin: 3rem 7% 0 7%;
  }
 
}
