.home-container {
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.home-container h2 {
  /* padding-top: 3rem; */
  text-align: center;
  font-weight: 200;
  font-size: 4rem;
}

.home-card-container {
  width: 68rem;
  display: flex;
  justify-content: space-evenly;
}

.home-card {
  border: 1px solid rgb(239, 239, 239);
  border-radius: 5px;
  width: 305px;
  height: 475px;
  background: rgb(255, 255, 255);
  transition: 0.5s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
}

.home-card:hover {
  box-shadow: 0px 0px 40px 15px #e2e1e1;
  border: 1px solid #89aee1
}

.home-card-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.home-card-button {
    background: transparent;
    padding: 10px 30px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.home-card-button:hover {
    background: #89aee1;
    cursor: pointer;
}

.home-card-span {
  padding: 0 25px;
  text-align: center;
}