.nav-container {
  max-width: 100%;
  background: white;
}

.nav-content-container {
  background: white;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(231, 231, 231);
  padding: 5px 0;
  position: fixed;
  top: 0;
}

.nav-social-icon-container {
  padding-right: 15px;
}

.nav-name {
  padding-left: 15px;
  text-transform: uppercase;
}

.nav-home-image {
  width: 35px;
  padding-top: 5px;
  padding-right: 18px;
}

.nav-social-image {
  width: 35px;
  padding-top: 5px;
}

.nav-icon-padding {
  padding-right: 8px;
}
