@import url("https://fonts.googleapis.com/css?family=Arima+Madurai|Athiti|Bad+Script|Cinzel|Cutive+Mono|Darker+Grotesque|Geo|IBM+Plex+Mono|Julius+Sans+One|Jura|Megrim|News+Cycle|Overlock+SC|Poiret+One|Rock+Salt|Turret+Road|Ubuntu+Mono|VT323&display=swap");

/* 
font-family: 'Cinzel', serif;
font-family: 'News Cycle', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'IBM Plex Mono', monospace; -- yes
font-family: 'Julius Sans One', sans-serif;
font-family: 'Ubuntu Mono', monospace; -- yes
font-family: 'Jura', sans-serif; -- yes
font-family: 'Arima Madurai', cursive;
font-family: 'VT323', monospace; -- too much pixel
font-family: 'Turret Road', cursive;
font-family: 'Cutive Mono', monospace; -- typewriter, it's ok
font-family: 'Athiti', sans-serif;
font-family: 'Overlock SC', cursive;
font-family: 'Megrim', cursive;
font-family: 'Darker Grotesque', sans-serif;
font-family: 'Geo', sans-serif; */


body {
  font-family: 'IBM Plex Mono', monospace;
}

.uppercase {
  text-transform: uppercase;
}

.margins {
  margin: 0 25% 5% 25%;
}

.line-height {
  line-height: 1.4rem;
}

@media only screen and (max-width: 572px) {
  .margins {
    margin: 0 8% 5% 8%;
  }
}